name: Test Docs

on:
  pull_request:
    branches: [main]
    paths:
      - docs/**
      - ".github/workflows/docs_test.yml"

permissions:
  contents: read

jobs:
  test-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: yarn
          cache-dependency-path: docs/yarn.lock
      - name: Install dependencies
        run: yarn --cwd docs install --frozen-lockfile
      - name: Test build website
        run: yarn --cwd docs build